.card-containers{
    box-sizing:border-box;
    display:slex;
}
.card{
    width:222px;
    margin:150px 200px 500px 500px;
    box-sizing:borser-box;
    box-shadow:10px 10px 10px 10px rgb(248, 3, 3);
    padding:280x ;

}
.img-style{
    width:100px;
    height:1500%;

}
.card-body{
    padding:3px;
    background-color:blue;
    height:220px;
    width:220px;
    
}
.card-body .card-title{
    font-size:2.1rem;
    text-align:center;
    color:rgb(247, 3, 3);
    text-shadow:5px 5px 5px 5px;
   
    
}
.card-body .card-desc{
    text-align:justify;
    line-height:1.4;
    color: white;
    text-shadow:5px 5px 5px 5px;

}
.card:hover{
    box-shadow:6px 12px 10px rgb(0, 47, 255);

}